.caixa1 { 
    flex-direction: column;
    width: 400px;
    height: 300px;
    border: 2px solid;
    border-color: #83CF8C;
    margin: 20px 30px;
    border-radius: 10px;
    background-color: white;
}
.projetos{  
    display: flex ;
    flex-direction: row;
    margin-top: 50px;
}

.caixa1 h3 {   
    text-align: center;
    font-size: 15px;
}

.impressao3d{   
    width: 225px;
    height: 150px;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 50px;
}
.caixa1 p{  
    text-align: center;
    font-size: 12px;
}
.microestacao{  
    width: 200px;
    height: 125px;
    border-radius: 5px;
    margin: 15px;
    margin-left: 90px;
    margin-right: 50px;
}
.projeto2{  
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}
.robo{  
    width: 200px;
    height: 150px ;
    border-radius: 5px;
    margin-left: 90px;
    margin-right: 50px;
}
.projeto3{
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}
